.event-name {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 4rem;
    width: 100%;
    text-shadow: 2px 4px 6px #ffffff;
    box-shadow: 5px 1px 70px 10px rgb(140 89 1);
}
.event-div {
    height: 700px;
}

.event-img {
    margin-bottom: -130px;
}